/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom style */ 

.box-1 { 
    width: auto;
    height: 600px;
    background-color:black
}
header { 
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}
h1 { 
    font-size: 32px;
    padding: 10px;
}
.link { 
    font: 20px;
    padding: 20px;
}
.maintext{ 
font-size: 48px;
color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 200px 0 0 200px;
font-weight: bold;
}
hr{ 
    width: 1000px;
    color: grey;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
p.subtext {
    color: grey;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.box-2 { 
    width: auto;
    height: 600px;
    background-color:lightskyblue; 
}
p.subheading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color: white; 
    padding: 50px 0 30px 200px;
}
img { 
    border-radius: 50%;
    margin-left: 200px;
}
p.subtext-1 { 
    font-weight: bold;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
}
.box-3 { 
    width: auto;
    height: 600px;
    background-color:darkslateblue; 
}
.box-4 { 
    width: auto;
    height: 600px;
    background-color:darkturquoise;
}
.footer{ 
    height: 100px;
    background-color: black;
}
footer{ 
    color: white;
    margin-left: 200px;
    padding-top: 50px;
}